---
layout: base
permalink: /index.html
title: 'ELIS Electoral Integrity Strategies'
description: 'Synthesizing 35 years of research to identify what actually works to protect elections. ELIS provides evidence-based guidance for election officials, policymakers, and democracy advocates.'
---

{# Homepage ELIS - Orquestra as sections modulares #}

{% include "sections/hero.njk" %}
{% include "sections/about.njk" %}
{% include "sections/deliverables.njk" %}
{% include "sections/research.njk" %}
{% include "sections/tools.njk" %}
{% include "sections/support.njk" %}
{% include "partials/footer.njk" %}
