<header class="header-elis">
  <a href="#main" class="skip-link">{{ meta.skipContent }}</a>

  <div class="header-content">
    <a href="/" class="logo" {{ indicateActiveHome }}>
      <picture>
        <source srcset="/assets/images/elis-logo.webp" type="image/webp">
        <img src="/assets/images/elis-logo.png" alt="ELIS Logo" style="height: 48px; width: auto;" decoding="async">
      </picture>
    </a>
    {% include "partials/main-nav.njk" %}
  </div>
</header>
